{
    "plugins": ["prettier"],
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        },
        "project": "./tsconfig.json"
    },
    "extends": [
        "prettier",
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier/@typescript-eslint",
    ],
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "trailingComma": "es5",
                "singleQuote": true,
                "printWidth": 120,
                "semi": true
            }
        ]
    },
    "overrides": [
        {
            "files": ["*.js", "*.jsx"],
            "parser": 'babel-eslint',
            "parserOptions": {
                "sourceType": "module",
                "ecmaFeatures": {
                    "jsx": true
                }
            },
            "extends": [
                "prettier",
                "airbnb",
            ],
            "env": {
                "es6": true,
                "browser": true,
                "node": true
            },
            "rules": {
                "@typescript-eslint/recommended": "off",
                "prettier/prettier": [
                    "error",
                    {
                        "trailingComma": "es5",
                        "singleQuote": true,
                        "printWidth": 120,
                        "semi": true
                    }
                ]
            }
        }
    ]
}
